.main{
  flex: 1;
  min-height:100vh ;
  padding-bottom: 15vh;
  position: relative;
}
.main .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;

}
.main .nav img{
  width: 4rem;
  border-radius: 50%;
}